In [0]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
#from google.colab import files
#uploaded = files.upload()

In [2]:
#import io
#df = pd.read_csv(io.BytesIO(uploaded['nba_2017_nba_players_with_salary.csv']))
data = pd.read_csv('nba_2017_nba_players_with_salary.csv')
data.describe()

       Unnamed: 0          Rk  ...           W  SALARY_MILLIONS
count  342.000000  342.000000  ...  342.000000       342.000000
mean   170.500000  217.269006  ...   28.950292         7.294006
std     98.871128  136.403138  ...   14.603876         6.516326
min      0.000000    1.000000  ...    0.000000         0.030000
25%     85.250000  100.250000  ...   19.000000         2.185000
50%    170.500000  205.500000  ...   29.000000         4.920000
75%    255.750000  327.750000  ...   39.000000        11.110000
max    341.000000  482.000000  ...   66.000000        30.960000

[8 rows x 36 columns]

In [0]:
# 刪除重複的球員(數據也都一樣)
data = data.drop_duplicates(['PLAYER'],keep='last')
data.reset_index(drop=True, inplace=True)

In [4]:
# 以3個四分位數2.185, 4.92, 11.11切
salary = data['SALARY_MILLIONS']
# print(salary)

salary_class = []
for i in salary:
    if i < 2.185:
        salary_class.append(0)
    elif 2.185<=i and 4.92>=i:
        salary_class.append(1)
    else:
        salary_class.append(2)

# 先不加入 等標準化後再加入        
data['SALARY_CLASS'] = salary_class
data.describe()

       Unnamed: 0          Rk  ...  SALARY_MILLIONS  SALARY_CLASS
count  335.000000  335.000000  ...       335.000000    335.000000
mean   168.134328  213.829851  ...         7.415313      1.274627
std     98.306056  135.300943  ...         6.529251      0.820279
min      0.000000    1.000000  ...         0.030000      0.000000
25%     83.500000   98.500000  ...         2.290000      1.000000
50%    167.000000  202.000000  ...         5.000000      2.000000
75%    252.500000  323.500000  ...        11.235000      2.000000
max    341.000000  482.000000  ...        30.960000      2.000000

[8 rows x 37 columns]

In [5]:
# 刪除不需要之features
data = data.drop(['MP','Unnamed: 0','Rk'], axis=1)
# 3P%、FG%原有空白值 將空白值以0取代
data = data.fillna(0)
# 重新排序col順序(前三個部用加入分析)
data = data[['PLAYER', 'TEAM', 'POSITION', 'AGE', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'POINTS', 'GP', 'MPG', 'ORPM',
       'DRPM', 'RPM', 'WINS_RPM', 'PIE', 'PACE', 'W', 'SALARY_MILLIONS', 'SALARY_CLASS']]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 37 columns):
PLAYER             335 non-null object
TEAM               335 non-null object
POSITION           335 non-null object
AGE                335 non-null int64
FG                 335 non-null float64
FGA                335 non-null float64
FG%                335 non-null float64
3P                 335 non-null float64
3PA                335 non-null float64
3P%                335 non-null float64
2P                 335 non-null float64
2PA                335 non-null float64
2P%                335 non-null float64
eFG%               335 non-null float64
FT                 335 non-null float64
FTA                335 non-null float64
FT%                335 non-null float64
ORB                335 non-null float64
DRB                335 non-null float64
TRB                335 non-null float64
AST                335 non-null float64
STL                335 non-null float64
BLK                335 non-null float64
TOV                335 non-null float64
PF                 335 non-null float64
POINTS             335 non-null float64
GP                 335 non-null int64
MPG                335 non-null float64
ORPM               335 non-null float64
DRPM               335 non-null float64
RPM                335 non-null float64
WINS_RPM           335 non-null float64
PIE                335 non-null float64
PACE               335 non-null float64
W                  335 non-null int64
SALARY_MILLIONS    335 non-null float64
SALARY_CLASS       335 non-null int64
dtypes: float64(30), int64(4), object(3)
memory usage: 97.0+ KB

In [6]:
data.columns

Index(['PLAYER', 'TEAM', 'POSITION', 'AGE', 'FG', 'FGA', 'FG%', '3P', '3PA',
       '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'POINTS', 'GP', 'MPG', 'ORPM',
       'DRPM', 'RPM', 'WINS_RPM', 'PIE', 'PACE', 'W', 'SALARY_MILLIONS',
       'SALARY_CLASS'],
      dtype='object')

In [0]:
data1 = data[['PLAYER', 'TEAM', 'POSITION']]
data2 = data[['AGE', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'POINTS', 'GP', 'MPG', 'ORPM',
       'DRPM', 'RPM', 'WINS_RPM', 'PIE', 'PACE', 'W', 'SALARY_MILLIONS']]

In [0]:
scale = preprocessing.MinMaxScaler()
data2 = pd.DataFrame(scale.fit_transform(data2),
                                columns=data2.keys())
data = pd.concat([data1,data2], axis = 1)

In [9]:
data['SALARY_CLASS'] = salary_class
data

                PLAYER    TEAM  ... SALARY_MILLIONS  SALARY_CLASS
0    Russell Westbrook     OKC  ...        0.855803             2
1         James Harden     HOU  ...        0.855803             2
2        Isaiah Thomas     BOS  ...        0.212092             2
3        Anthony Davis      NO  ...        0.714193             2
4     DeMarcus Cousins  NO/SAC  ...        0.547365             2
..                 ...     ...  ...             ...           ...
330      Brice Johnson     LAC  ...        0.042030             0
331         Mike Tobey     CHA  ...        0.001293             0
332         Alonzo Gee     DEN  ...        0.000970             0
333     John Lucas III     MIN  ...        0.030715             0
334     Aaron Harrison     CHA  ...        0.027158             0

[335 rows x 37 columns]